# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# origin
/WinApi_Final/.vs
/WinApi_Final/x64
/WinApi_Final/WinApi_Final/x64
*.exe
*.ilk
*.pdb
*.obj
*.log
*.pch
*.idb
*.tlog
*.lastbuildstate
*.suo
*.db
*.vcxproj
*.ipch

/NGP/.vs
/NGP/NGP_Client/x64
/NGP/NGP_Server/x64